<!-- <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <h3>Register</h3>
                <form [formGroup]="registerForm" (ngSubmit)="register()">
                    <div>
                        <label>Email:</label>
                        <input formControlName="email">
                    </div>
                    <div>
                        <label>First Name:</label>
                        <input formControlName="firstName">
                    </div>
                    <div>
                        <label>Last Name:</label>
                        <input formControlName="lastName">
                    </div>
                    <div>
                        <label>Password: </label>
                        <input formControlName="password">
                    </div>
                    <div>
                        <label>Role: </label>
                        <input formControlName="role">
                    </div>
                    <div>
                        <label>Color: </label>
                        <input formControlName="color">
                    </div>
                    <div>
                        <label>Country: </label>
                        <input formControlName="country">
                    </div>
                    <div>
                        <label>Status: </label>
                        <input formControlName="status">
                    </div>
                    <div class="row">
                        <button class="btn btn-default" type="submit" [disabled]="!registerForm.valid">Register</button>
                        <button class="btn btn-default" (click)="cancel()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->
<br>
<div class="container">
    <div class="card-header" matDialogTitle>
        <h3 class="text-center">Create a new registration form</h3>
    </div>
    <br>
    <!-- start reactive form -->
    <form class="form-horizontal" [formGroup]="registerForm" (ngSubmit)="register()" novalidate>
        <div matDialogContent>
            <div class="col-sm-6 col-sm-12">
                <div class="row">
                    <div class="col-sm-6">

                        <!-- start firstName -->
                        <div class="form-group row" [ngClass]="{'has-error': (registerForm.get('firstName').touched || registerForm.get('firstName').dirty) &&
              !registerForm.get('firstName').valid }">
                            <label class="col-sm-3 col-form-label">
                                <strong>First Name: </strong>
                            </label>
                            <div class="col-sm-8">
                                <i style="position: relative;top: 24px;right: -280px;cursor: pointer;" class="fa fa-user"></i>
                                <input type="text" formControlName="firstName" class="form-control form-control-sm" placeholder="Your firstName">
                                <span class="text-danger" *ngIf="(registerForm.get('firstName').touched || registerForm.get('firstName').dirty) && 
                   registerForm.get('firstName').errors">
                                    <span *ngIf="registerForm.get('firstName').errors.required">Please enter your first name.</span>
                                    <span *ngIf="registerForm.get('firstName').errors.minlength">The first name must be longer than 3 characters.</span>
                                </span>
                            </div>
                        </div>
                        <!-- end firstName -->

                        <!-- start lastName -->
                        <div class="form-group row" [ngClass]="{'has-error': (registerForm.get('lastName').touched || registerForm.get('lastName').dirty) &&
              !registerForm.get('lastName').valid }">
                            <label class="col-sm-3 col-form-label">
                                <strong>Last Name: </strong>
                            </label>
                            <div class="col-sm-8">
                                <i style="position: relative;top: 24px;right: -280px;cursor: pointer;" class="fa fa-user"></i>
                                <input type="text" formControlName="lastName" class="form-control form-control-sm" placeholder="Your lastName">
                                <span class="text-danger" *ngIf="(registerForm.get('lastName').touched || registerForm.get('lastName').dirty) && 
                  registerForm.get('lastName').errors">
                                    <span *ngIf="registerForm.get('lastName').errors.required">Please enter your last name.</span>
                                    <span *ngIf="registerForm.get('lastName').errors.minlength">The last name must be longer than 3 characters.</span>
                                </span>
                            </div>
                        </div>
                        <!-- end lastName -->

                        <!-- start email -->
                        <div class="form-group row" [ngClass]="{'has-error': (registerForm.get('email').touched || registerForm.get('email').dirty) &&
              !registerForm.get('email').valid }">
                            <label class="col-sm-3 col-form-label">
                                <strong>Email: </strong>
                            </label>
                            <div class="col-sm-8">
                                <i style="position: relative;top: 24px;right: -280px;cursor: pointer;" class="fa fa-envelope"></i>
                                <input type="text" formControlName="email" class="form-control form-control-sm" placeholder="Your Email">
                                <span class="text-danger" *ngIf="(registerForm.get('email').touched || registerForm.get('email').dirty) && 
                  registerForm.get('email').errors">
                                    <span *ngIf="registerForm.get('email').errors.required">Please enter your email address.</span>
                                    <br>
                                    <span *ngIf="registerForm.get('email').errors.email">Please enter a valid email address.</span>
                                </span>
                            </div>
                        </div>
                        <!-- end email -->


                        <!-- start password -->
                        <div class="form-group row" [ngClass]="{'has-error': (registerForm.get('password').touched || registerForm.get('password').dirty) &&
              !registerForm.get('password').valid }">
                            <label class="col-sm-3 col-form-label">
                                <strong>Password: </strong>
                            </label>
                            <div class="col-sm-8">
                                <input type="{{password ? 'text' : 'password' }}" formControlName="password" class="form-control form-control-sm" placeholder="Your Password"
                                    required>
                                <span class="form-control-password" style="float:right;" (click)="togglePassword()">{{password ? 'Hide': 'Show'}}</span>
                                <span class="text-danger" *ngIf="(registerForm.get('password').touched || registerForm.get('password').dirty) && 
                  registerForm.get('password').errors">
                                    <span *ngIf="registerForm.get('password').errors.required">Please enter your password.</span>
                                    <span *ngIf="registerForm.get('password').errors.minlength">The password must be longer than 6 characters.</span>
                                    <span *ngIf="registerForm.get('password').errors.maxlength">The password must be not longer than 30 characters.</span>
                                </span>
                            </div>
                        </div>
                        <!-- end password -->
                    </div>

                    <div class="col-sm-6">

                        <!-- start role -->
                        <div class="form-group row" [ngClass]="{'has-error': (registerForm.get('role').touched || registerForm.get('role').dirty) &&
              !registerForm.get('role').valid }">
                            <label class="col-sm-3 col-form-label">
                                <strong>Role: </strong>
                            </label>
                            <div class="col-sm-8">
                                <i style="position: relative;top: 24px;right: -280px;cursor: pointer;" class="fa fa-user"></i>
                                <input type="text" formControlName="role" class="form-control form-control-sm" placeholder="Your role">
                                <span class="text-danger" *ngIf="(registerForm.get('role').touched || registerForm.get('role').dirty) && 
                   registerForm.get('role').errors">
                                    <span *ngIf="registerForm.get('role').errors.required">Please enter your role.</span>
                                    <span *ngIf="registerForm.get('role').errors.minlength">The role must be longer than 3 characters.</span>
                                </span>
                            </div>
                        </div>
                        <!-- end role -->

                        <!-- start color -->
                        <div class="form-group row" [ngClass]="{'has-error': (registerForm.get('color').touched || registerForm.get('color').dirty) &&
              !registerForm.get('color').valid }">
                            <label class="col-sm-3 col-form-label">
                                <strong>Color: </strong>
                            </label>
                            <div class="col-sm-8">
                                <i style="position: relative;top: 24px;right: -280px;cursor: pointer;" class="fa fa-user"></i>
                                <input type="text" formControlName="color" class="form-control form-control-sm" placeholder="Your color">
                                <span class="text-danger" *ngIf="(registerForm.get('color').touched || registerForm.get('color').dirty) && 
                  registerForm.get('color').errors">
                                    <span *ngIf="registerForm.get('color').errors.required">Please enter any color.</span>
                                </span>
                            </div>
                        </div>
                        <!-- end color -->

                        <!-- start country -->
                        <div class="form-group row" [ngClass]="{'has-error': (registerForm.get('country').touched || registerForm.get('country').dirty) &&
              !registerForm.get('country').valid }">
                            <label class="col-sm-3 col-form-label">
                                <strong>country: </strong>
                            </label>
                            <div class="col-sm-8">
                                <i style="position: relative;top: 24px;right: -280px;cursor: pointer;" class="fa fa-envelope"></i>
                                <input type="text" formControlName="country" class="form-control form-control-sm" placeholder="Your country">
                                <span class="text-danger" *ngIf="(registerForm.get('country').touched || registerForm.get('country').dirty) && 
                  registerForm.get('country').errors">
                                    <span *ngIf="registerForm.get('country').errors.required">Please enter your country.</span>

                                </span>
                            </div>
                        </div>
                        <!-- end country -->


                        <!-- start status -->
                        <div class="form-group row" [ngClass]="{'has-error': (registerForm.get('status').touched || registerForm.get('status').dirty) &&
              !registerForm.get('status').valid }">
                            <label class="col-sm-3 col-form-label">
                                <strong>status: </strong>
                            </label>
                            <div class="col-sm-8">
                                <input type="number" formControlName="status" class="form-control form-control-sm" placeholder="Your status" required>
                                <span class="text-danger" *ngIf="(registerForm.get('status').touched || registerForm.get('status').dirty) && 
                  registerForm.get('status').errors">
                                    <span *ngIf="registerForm.get('status').errors.required">Please enter your status.</span>
                                </span>
                            </div>
                        </div>
                        <!-- end status -->
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <!-- start actions -->
        <div class="form-group" matDialogActions style="margin:0 auto;width: 250px;text-align:center;">
            <button type="submit" class="btn btn-primary" style="margin-right: 8px;cursor:pointer;" [disabled]="!registerForm.valid">Register</button>
            <button class="btn btn-default" style="cursor:pointer;" (click)="cancel()">Cancel</button>
        </div>
        <!-- end actions -->
    </form>
    <!-- end reactive form -->
</div>
<br>
<br>