<br>
<br>
<div class="home-page">

    <div class="container page">
        <div class="row">

            <div class="col-md-4">
                <div class="banner">
                    <h3 class="logo-font"> Introduction </h3>
                </div>
                <div class="sidebar">
                    <div class="col-xs-4">
                        <img style="float:center" height="100px" width="100px" [src]="fullImagePath1">
                    </div>
                    <p>The new employee introduction gives you the opportunity to explain the new employee's job, location,
                        and start date. It alerts your employees to look for a new employee to greet and welcome. A positive
                        new employee introduction letter also shares several points of interest about the new employee.</p>
                    <a>
                        <span class="more">
                            <a href="javascript:;">Read More >></a>
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="banner">
                    <h3 class="logo-font"> Goals </h3>
                </div>
                <div class="sidebar">
                    <div class="col-xs-4">
                        <img style="float:center" height="100px" width="100px" [src]="fullImagePath2">
                    </div>
                    <p>Most organizations see a dramatic increase in employee and business performance when they effectively
                        set individual employee goals and closely tie them to the company's overall strategy. The process
                        of setting goals should be a collaborative process between an employ ee and his or her manager.</p>
                    <a>
                        <span class="more">
                            <a href="javascript:;">Read More >></a>
                            <i class="fa fa-angle-center" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="banner">
                    <h3 class="logo-font"> Empowerment </h3>
                </div>
                <div class="sidebar">
                    <div class="col-xs-4">
                        <img style="float:center" height="100px" width="100px" [src]="fullImagePath3">
                    </div>
                    <p>Employee empowerment is giving employees a certain degree of autonomy and responsibility for decision-making
                        regarding their specific organizational tasks.</p>
                    <a>
                        <span class="more">
                            <a href="javascript:;">Read More >></a>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>